p > code, td > code {
    color: #c7254e !important;
    background-color: #f9f2f4 !important;
    border-radius: 4px !important;
}

.color-theme-2 p > code, .color-theme-2 td > code {
    color: #9dbed8 !important;
    background: #2d3143 !important;
    border-color: #2d3143 !important;
    border-radius: 4px !important;
}


.markdown-section h1 {
    margin-bottom: 0.6em;
}

.page-inner {
    padding-top: 0;
}

kbd, key {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial, "Helvetica Neue", Helvetica,sans-serif;
    font-size: 12px !important;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}
